  * {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: "Thunder Bold"; 
    src: local("Thunder Bold"),
      url("./fonts/Thunder-ExtraBoldHC.ttf") format("truetype");
  }

  @font-face {
    font-family: "Thunder Light"; 
    src: local("Thunder Light"),
      url("./fonts/Thunder-ExtraLightLC.ttf") format("truetype");
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d2ffdd;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    margin: 3rem;
    color: #233828;
    
    p {
      font-size: 1.2rem;
      font-weight: bold;
      font-family: 'Thunder Light';
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    color: #233828;

    .title {
      text-align: center;
      font-family: "Thunder Bold";
      overflow: hidden;
      font-size: 10rem;

      .letter {
        display: inline-block;
        line-height: 1em;
      }
    }

    .subtitle {
      font-size: 1.8rem;
      font-family: "Thunder Light";
    }
  }