@tailwind base;
@tailwind components;
@tailwind utilities;
  
  * {
    margin: 0;
    padding: 0;
    cursor: none;
  }

  @font-face {
    font-family: "Thunder Bold";
    src: local("Thunder Bold"),
      url("./fonts/Thunder-ExtraBoldHC.ttf") format("truetype");
  }

  @font-face {
    font-family: "Thunder Light";
    src: local("Thunder Light"),
      url("./fonts/Thunder-ExtraLightLC.ttf") format("truetype");
  }

  .hero-section {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    overflow: hidden;
    perspective: 2200px;
    background-color:hsla(135,50%,96%,1);
    background-image:
    radial-gradient(at 48% 64%, hsla(118,67%,73%,1) 0px, transparent 50%),
    radial-gradient(at 63% 95%, hsla(166,67%,73%,1) 0px, transparent 50%),
    radial-gradient(at 44% 21%, hsla(159,67%,73%,1) 0px, transparent 50%),
    radial-gradient(at 56% 42%, hsla(118,67%,73%,1) 0px, transparent 50%);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    margin: 3rem;
    color: #233828;

    p {
      font-size: 1.2rem;
      font-weight: bold;
      font-family: 'Thunder Light';
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;

    .title {
      text-align: center;
      font-family: "Thunder Bold";
      overflow: hidden;
      font-size: 10rem;
      color: #22302f;

      .letter {
        display: inline-block;
        line-height: 1em;
        background-color: transparent;
      }
    }

    .subtitle {
      font-size: 1.8rem;
      font-family: "Thunder Light";
    }
  }

  // Cursor

  #cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
  }
  
  #cursor-border {
    --size: 30px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
      height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;
  }
  
.container {
  padding: 0 3rem;
}